.body {
    background-color: #19617a;
    
}


.d1 {
    text-align: center;
}

.d2 {
    text-align: center;
}

.d3 {
    background-color: white;
}

.d4 {
    background-color: white;
    
}

.d5 {
    background-color: white;
}