

.tabela{
    background-color: rgb(25, 185, 25);
    font-size: 30PX;
}


.menu {
    background-color: white;
}

.times {
    width: 10%;
    
    
    
}

.libertadores{
    color: green;
    background-color: white;
}
    
.sulamericana{
    color: orange;
    background-color: white;
}

.neutro {
    background-color: white;
}
.rebaixamento{
    color: red;
    background-color: white;
}

.foo {
    
    background-color: rgb(25, 185, 25);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin-top:  10px;
    margin: 0;
    
}

.legenda{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}

body {
    background-image: url(https://pbs.twimg.com/media/E37GD7yXMAEJj5i.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: center;
    
}